@model VenueViewModel
@{
    int? venueId = null;
}

@if (User.Identity.IsAuthenticated)
{
   <div>
        <form asp-action="Add">
            @Html.DropDownListFor(m => venueId, new SelectList(Model.UnmappedVs, "VenueId", "VenueName"))
            <button type="submit">Add Venue to Round "@Model.R.RoundName"</button>
        </form>
    </div>
    <hr />
}

@Html.DisplayFor(m => Model.Vs, "Venue/VenueList")