@model GroupViewModel

@{
    ViewData["Title"] = "Create Group";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            if (Model.GF is GroupFactoryRR) await Html.RenderPartialAsync("_createRR", Model.GF);
            else if (Model.GF is GroupFactoryKO) await Html.RenderPartialAsync("_createKO", Model.GF);
            else if (Model.GF is GroupFactoryEdit) await Html.RenderPartialAsync("_edit", Model.GF);
        }
    </div>
</div>