@model PlayerViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_factoryTemplate", Model.PF)
    </div>
</div>