@model IEnumerable<ChemodartsWebApp.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <partial name="PlayerTemplate/Head/Table" model="@Model"/>
    </thead>
    <tbody>
        <partial name="PlayerTemplate/Content/Table" model="@Model"/>
    </tbody>
</table>
