@model IEnumerable<ChemodartsWebApp.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a cd-route="Players" cd-action="Create">Create New</a>
    </p>
}

@await Html.PartialAsync("../Shared/DisplayTemplates/Player/PlayerList", Model.OrderBy(p => p.PlayerName).ThenBy(p => p.PlayerDartname))