@model Enum

@if(Model is object) {
    <div class="editor-field">
        @Html.DropDownListFor(m => m, new SelectList(Enum.GetValues(Model.GetType())))
        @Html.ValidationMessageFor(m => m)
    </div>
}