html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(100%);
    }

    img {
        filter: invert(100%);
    }
}

#youtubeVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
    filter: invert();
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.right-border {
    border-right: 1px solid #ccc; /* Adjust the border style and color as needed */
}

#seedsTable tr[draggable="true"] {
    cursor: move;
    background: green;
}

.table-center {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

/*
 *  Flex Layout Specifics
*/
main.bracket {
    display: flex;
    flex-direction: row;
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    list-style: none;
    padding: 0;
}

.round .spacer {
        flex-grow: 1;
    }

.round .spacer:first-child,
.round .spacer:last-child {
    flex-grow: .5;
}

.round .game-spacer {
    flex-grow: 1;
}

li.game {
    padding-left: 20px;
}

li.game.winner {
    font-weight: bold;
}

li.game span {
    float: right;
    margin-right: 5px;
}

li.game-top {
    border-bottom: 1px solid #aaa;
}

li.game-spacer {
    border-right: 1px solid #aaa;
    min-height: 40px;
}

li.game-bottom {
    border-top: 1px solid #aaa;
}

select {
    display: inline-block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}