@model Seed

<tr>
    <td>
        @Model.SeedNr
    </td>
    @if (Model.Player is object) {
        <partial name="PlayerTemplate/Content/Columns/Name" model="@Model.Player"/>
    }
    else {
        <td>
            @Html.DisplayFor(model => model.Player)
        </td>
    }
</tr>