@model MatchViewModel

@*<div>
    <form asp-action="StartNextMatch">
        <button type="submit">Nächstes Match Starten</button>
    </form>
</div>
<hr />*@

<p>@ViewBag.Message</p>

@{
    bool showAll = false;
    if (Context.Request.Query["showAll"].Equals("true") || (ViewData["showAll"]?.Equals("true") ?? false)) showAll = true;

    if (!showAll)
    {
        <a asp-route-showAll="true">Alle Anzeigen</a>
    }
    else
    {
        <a asp-route-showAll="false">Beendete Ausblenden</a>
    }
}

<div class="form-outline">
    <input type="search" id="matchesSearch" placeholder="Matches filtern" class="form-control" aria-label="Search">
</div>

@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", Model.Ms, new ViewDataDictionary(ViewData) { { "ShowGroup", "true" }})

@section Scripts {
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include your JavaScript file -->
    <script src="/js/search.js"></script>
}