@model MatchViewModel

@*<div>
    <form asp-action="StartNextMatch">
        <button type="submit">Nächstes Match Starten</button>
    </form>
</div>
<hr />*@

<p>@ViewBag.Message</p>

@{
    bool showAll = false;
    if (Context.Request.Query["showAll"].Equals("true") || (ViewData["showAll"]?.Equals("true") ?? false)) showAll = true;

    if (!showAll)
    {
        <a asp-route-showAll="true">Alle Anzeigen</a>
    }
    else
    {
        <a asp-route-showAll="false">Beendete Ausblenden</a>
    }
}

@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", Model.Ms, new ViewDataDictionary(ViewData) { { "ShowGroup", "true" }})