@model MultiSelectList
@{
    ViewBag.Title = "MultiSelect Player";
}

@*https://learn.microsoft.com/en-us/aspnet/mvc/overview/older-versions/working-with-the-dropdownlist-box-and-jquery/using-the-dropdownlist-helper-with-aspnet-mvc*@

<a asp-controller="Players" asp-action="Create" target="_blank">Create Player</a>
<hr />

@if (ViewBag.YouSelected is object) {
    <div> You Selected:  @ViewBag.YouSelected</div>
}

@if (ViewBag.Message is object) {
    <h3>@ViewBag.Message</h3>
}

@using (Html.BeginForm()) {

    <fieldset>

        <legend>Spieler hinzufügen</legend>

        <div class="editor-field">

            @Html.ListBox("Players", Model, new {size=20})

        </div>

        <p>

            <input type="submit" value="Save" />

        </p>

    </fieldset>

}