@model SeedViewModel

<h2>Details von Seed #@Model.S.SeedNr</h2>

@if(Model.S.Player is object) {
    @await Html.PartialAsync("../Shared/DisplayTemplates/Player/PlayerInfo", Model.S.Player, new ViewDataDictionary(ViewData) { { "ShowHistory", "false" }})
}
else
{
    <p2>Keinem Spieler zugeordnet</p2>
}

<br />
<h2>Matches im Turnier "@Model.S.Round.Tournament.TournamentName"</h2>
@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", Model.S.Matches)
