@model Seed

<h2>Details von Seed #@Model.SeedNr</h2>

@if(Model.Player is object) {
    @await Html.PartialAsync("../Shared/DisplayTemplates/Player/PlayerInfo", Model.Player, new ViewDataDictionary(ViewData) { { "ShowHistory", "false" }})
}
else
{
    <p2>Keinem Spieler zugeordnet</p2>
}

<br />
<h2>Matches im Turnier "@Model.Tournament.TournamentName"</h2>
@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", Model.Matches)
