@model SeedViewModel

@if (User.Identity.IsAuthenticated)
{
    <hr />
    <div>
        <a cd-route="Seed" cd-action="AddPlayersToSeed">Add Players</a>
       |
        <a cd-route="Seed" cd-action="ShuffleSeeds">Seeds Mischen </a>
    </div>
    <hr />
}

@Html.DisplayFor(m => Model.Ss, "Seed/SeedPlayersList")