@{
    ViewData["Title"] = "Home Page";
}

<h1><center>Willkommen bei Chemodarts!</center></h1>

<h3><a asp-action="Tournaments">Zu den Turnieren</a></h3>

<br />

<iframe id="youtubeVideo" src="https://www.youtube.com/embed/r98nfOF0R_U?si=lHL0cShyhy6GA-bJ" title="Chemodarts Vol. 4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>