@model IEnumerable<ChemodartsWebApp.Models.Match>

<table class="table">
    <thead>
        <partial name="MatchTemplate/Head/Table" model="@Model"/>
    </thead>
    <tbody>
        <partial name="MatchTemplate/Content/Table" model="@Model"/>
    </tbody>
</table>