@*SeedTemplate -> Content -> Table*@

@model IEnumerable<ChemodartsWebApp.Models.Seed>
@{
    int rank = 0;
}

@foreach (var item in Model) {
    <tr>
        <td>
            @{++rank;}
            @rank
        </td>
        <partial name="SeedTemplate/Content/Columns/Player" model="@item"/>
        <partial name="SeedTemplate/Content/Columns/Stats" model="@item"/>
    </tr>
}