@model ChemodartsWebApp.Models.RoundFactory

@using (Html.BeginForm("Create", "Round", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    @Html.EditorFor(m => Model)
    <button type="submit" class="btn btn-primary">Create</button>        
}