@model RoundViewModel

@{
    ViewData["Title"] = "Create Round";
    Layout = "~/Views/Shared/_TournamentLayout.cshtml";
}

<h1>Create</h1>

<h4>Round</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @Html.EditorFor(m => m.RF, "RoundFactory", "", ViewContext)
</div>