@model RoundViewModel

@{
    ViewData["Title"] = "Runde >" + Model.R.RoundName + "<";
}

<div class="text-center">
    <h1 class="display-4"><b>@Model.R.RoundName</b> - @Html.DisplayFor(model => model.R.Modus)</h1>
</div>

@if (User.Identity.IsAuthenticated)
{
    <a cd-route="Group" cd-action="Create">Gruppe(n) hinzufügen</a>
    <hr />
}

<partial name="Rounds/Round_@Model.R.Modus.ToString()" model="@Model"/>