@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<select asp-for="SelectedVenue" asp-items=Model.AvailableVenues>
    @if(Model.Venue is object)
    {
        <option value="-1">No Venue</option>
    }
    else
    {
        <option value="-1">Select Venue</option>
    }
</select>*@