@model Match

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => model.Group.Round.Tournament.TournamentName)
        </th>
        break;
    case "Content":
        <td>
            <a cd-route="Tournament" cd-action="Index" cd-route-tournamentId="@Model.Group.Round.TournamentId">
                @Html.DisplayFor(model => Model.Group.Round.Tournament.TournamentName)
            </a>
        </td>
        break;
    default:
        goto case "Content";
}