@model Match

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MatchOrderValue)
        </th>*@
        break;
    case "Content":
        <td>
            @Html.DisplayFor(model => Model.Group.GroupName)
        </td>
        @*<td>
            @Html.DisplayFor(model => Model.MatchOrderValue)
        </td>*@
        break;
    default:
        goto case "Content";
}