@model TournamentViewModel

@{
    ViewBag.Title = "Turnier";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";

    string tournamentName = Model.T?.TournamentName ?? $"Turnier ID '{ViewContext.RouteData?.Values["tournamentId"]?.ToString()}'";
}

@section MainNavigationAdditions {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @tournamentName
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
                <a cd-route="Tournament" cd-action="Index" class="nav-link text-dark">Übersicht</a>
            </li>
            <li class="nav-item">
                <a cd-route="Seed" cd-action="Index" class="nav-link text-dark">Teilnehmer</a>
            </li>
            @if (User.Identity.IsAuthenticated){ 
                <li class="nav-item">
                    <a cd-route="Settings" cd-action="Index" class="nav-link text-dark">Einstellungen</a>
                </li>
            }
            @await RenderSectionAsync("TournamentNavigationAdditions", required: false)
        </ul>
    </li>
}

<span>
    @if (Model.T is object)
    {
        <a cd-route="Tournament" cd-action="Index" cd-route-tournamentId="@Model.T.TournamentId">Turnier "@Model.T.TournamentName"</a>
        @await RenderSectionAsync("TournamentHierarchyAdditions", required: false)
    }else{
        <a cd-route="Home" cd-action="Tournaments">Back to List</a>
    }
</span>

@RenderBody()

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}