html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
    html {
        filter: invert(100%);
    }

    img {
        filter: invert(100%);
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}