@model RoundViewModel

@foreach (var group in Model.R.Groups) {
    <h2 class="display-4">
        <a cd-route="Group" cd-action="Index" cd-route-groupId="@group.GroupId">
            Gruppe <b>@group.GroupName</b>
        </a>
    </h2>

    @Html.DisplayFor(m => group.RankedSeeds, "Seed/SeedGroupList")
}