@model RoundViewModel

@foreach (var group in Model.R.OrderedGroups.Reverse()) {
    <h2 class="display-4">
        <a cd-route="Group" cd-action="Index" cd-route-groupId="@group.GroupId">
        <b>@group.GroupName</b>
        </a>
    </h2>

    @await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", group.OrderedMatches, new ViewDataDictionary(ViewData) { { "showAll", "true" }})
}