@model ChemodartsWebApp.ViewModel.TournamentViewModel

@{
    ViewData["Title"] = "Create Tournament";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<h1>Create</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_createTournamentForm", Model.TF);
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
