@model TournamentViewModel

@{
    ViewData["Title"] = "Create Tournament";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<h1>Create</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_factoryTemplate", Model.TF)
    </div>
</div>