@model Group

<div>
    <a asp-action="Round" asp-route-id="@Model.Round.RoundId">Back</a>
</div>

<div class="text-center">
    <h1 class="display-4">Gruppe <b>@Model.GroupName</b></h1>
</div>

@Html.DisplayFor(m => Model.RankedSeeds, "Seed/SeedGroupList")

@Html.DisplayFor(m => Model.OrderedMatches, "Match/MatchList")