@model IEnumerable<ChemodartsWebApp.Models.Seed>

<a asp-action="AddPlayers">Add Players</a>

@*@Html.DisplayFor(m => Model, "Seed/SeedPlayersList", new { ShowStats = "false", ShowTournamentStatus = "true" } )*@
@Html.DisplayFor(m => Model, "Seed/SeedPlayersList")