@model IEnumerable<ChemodartsWebApp.Models.Match>

@*<div>
    <form asp-action="StartNextMatch">
        <button type="submit">Nächstes Match Starten</button>
    </form>
</div>
<hr />*@

<p>@ViewBag.Message</p>

@await Html.PartialAsync("../Shared/DisplayTemplates/Match/MatchList", Model, new ViewDataDictionary(ViewData) { { "ShowGroup", "true" }})