@model Seed

@if (Model.Player is object)
{
    @Html.DisplayFor(m => Model.Player, "Player/Columns/PlayerName", new { RenderType = "Content", bold = ViewData["boldSeed"]})
}
else
{
    <td>
        Seed #@Model.SeedNr
    </td>
}
