@model Seed

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            Seed Aktion
        </th>
        break;
    case "Content":
        <td>
            <a cd-route="Seed" cd-action="Delete" cd-route-tournamentId="@Model.Round.Tournament.TournamentId" cd-route-roundId="@Model.Round.RoundId" cd-route-seedId="@Model.SeedId"> Delete Seed </a>
        </td>
        break;
    default:
        goto case "Content";
}