@model Seed

@switch(ViewData["RenderType"])
{
    case "Header":
        <th>
            @Html.DisplayNameFor(model => model.MappedTournamentPlayer.TSP_PlayerFixed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MappedTournamentPlayer.TSP_PlayerCheckedIn)
        </th>
        break;
    case "Content":
        <td>
            @Html.DisplayFor(model => model.MappedTournamentPlayer.TSP_PlayerFixed)
        </td>
        <td>
            @Html.DisplayFor(model => model.MappedTournamentPlayer.TSP_PlayerCheckedIn)
        </td>
        break;
    default:
        goto case "Content";
}