@model Group
@{var SeedDummy = Model.Seeds.FirstOrDefault(); }

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => SeedDummy.SeedNr)
            </th>
            <partial name="PlayerTemplate/Head/Columns/Name" model="@SeedDummy.Player"/>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Seeds) {
        @Html.DisplayFor(model => item, "Seed")
    }
    </tbody>
</table>
