@model Group
@{var SeedDummy = Model.Seeds.FirstOrDefault(); }

<table class="table">
    <thead>
        <partial name="SeedTemplate/Head/Table" model="@Model.Seeds"/>
    </thead>
    <tbody>
        <partial name="SeedTemplate/Content/Table" model="@Model.OrderedSeeds"/>
    </tbody>
</table>
