@model SettingsViewModel

@{
    ViewData["Title"] = "Settings Page";
}

<br />
<h3>Progression Rules of Round "@(Model.R.RoundName)"</h3>

<div style="color:red;">@ViewBag.UpdateMessage</div>
<div>
    @await Html.PartialAsync("../_Lists/MapRoundProgressionList", Model.R.ProgressionRulesAsBase/*, new ViewDataDictionary(ViewData) { { "ShowGroup", "true" }}*/)
</div>