@model TournamentProgressViewModel

@{
    ViewData["Title"] = "Settings Page";
}

<div style="color:red;">@ViewBag.UpdateMessage</div>

<div>
    <form asp-action="Progress" method="post">
        @Html.EditorFor(m => m.ProgressionSetting)
        <button type="submit"> @((Model.ProgressionSetting.Tournament is object) ? "Speichern" : "Erstellen") </button>
    </form>
</div>